#entry_author{
  /*text-align: center;*/
  margin-left: 25%;
  margin-top: 3%;
}
.entry_content{
  margin-top: 1%;
  padding: 1%;
  background-color: white;
  color: #53a493;
  /*text-align: center;*/
  width: 49%;
  margin-left: 24%;
}

.entry_buttons{
  /*text-align: center;*/
  width: 50%;
  margin-top: 1%; 
  margin-left: 25%;
}

#delete_entry, #return_to_entries{
  margin-right: 5%;
}