<p>Sorry, the password you entered was incorect and we were unable to delete your account.</p>
<a href='#'>Delete Account</a>
<a href='#'>Return to Home Page</a>
<%= link_to 'Log Out', session_path(session[:user_id]), :method => :delete %>
