<h3>You have reached the profile page of <%= @user.public_username %></h3>
<ul>
<% @entries.each do |e| %>
  <li>
    <%= link_to e.title, entry_path(e.id) %>
  </li>
<% end %>
</ul>
<%= link_to 'Return Home', root_path %>