.welcome_message{
  float: left;
  width: 49%;
  border-right: solid 1px #58a291;
  margin-top: 3%;
}

.index_buttons{
  float: right;
  width: 49%;
  margin-top: 3%;
}

.welcome_message h2, .welcome_message p, .welcome_message h6{
  text-align: right;
  margin-right: 5%;
  margin-left: 10%;
  margin-top: 0px;
}

.welcome_message p{
  font-size: 1.25em;
  color: #636c4d;
}

.welcome_message h2{
  font-size: 2.25em;
  color: #58a291;
}

.welcome_message h6{
  color: #636c4d;
  font-size: 0.75em;
}

.welcome_message a{
  color: #58a291;
}

.sign_in, .sign_up{
  margin-bottom: 10%;
  width: 50%;
  padding: 3%;
}

.view_journal, .log_out{
  margin-top: 10%;
  margin-left: 30%;
  width: 33%;
  padding: 3%;
}

.sign_in{
  background-color: #636c4d;
}

.sign_in a{
  color: #9f9c71;
}

.sign_up{
  background-color: #9f9c71;
  color: #9f9c71;
}

.sign_up a{
  color: #636c4d;
}

.sign_in a, .sign_up a, .view_journal a, .log_out a{
  font-size: 2.75em;
}

.view_journal{
  margin-top: 10%;
  background-color: #636c4d;
}

.view_journal a{
  color: #a0bab9;
}

.log_out{
  background-color: #9f9c73;
}

.log_out a{
  color: #eff0eb;
}

.delete_account{
  position: fixed;
  bottom: 0;
  background-color: #a0bab9;
  padding: 0.5%;
}

.delete_account a{
  color: #eff0eb;
}