.new_entry_elements{
  text-align: center;
}

/*#entry_error_message{
  color: red;
  font-size: 4.00em;
}*/

.new_entry_header{
  font-size: 2.00em;
  margin: 0px auto;
  margin-top: 1%;
  color: #636c4d;
}

.new_entry_title, .new_entry_content{
  font-size: 2.00em;
  color: #53a493;
}

.new_entry_content_area{
  width: 30%;
  font-size: 1.50em;
  border-color: #9f9b75;
}

.new_entry_title_area{
  border-color: #9f9b75;
}

.new_entry_title_area, .new_entry_content_area{
  outline-color: #55a393;
}

.new_entry_submit{
  padding: 1% 4%;
  font-size: 2.00em;
  background-color: #a0bab9;
  color: #eff0eb;
  margin-bottom: 1%;
}

.home_link{
  color: #55a393;
  font-size: 1.25em;
}